<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nav</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/sidebar.css">
    <link rel="stylesheet" href="../assets/css/sidebar1.css">
</head>

<body>
<div class="container" id="s_form" style="margin-right:0;margin-left:0;">
    <h1 class="text-center" style="font-weight:bold;color:rgb(0,0,0);">My Classes</h1>
    <div style="margin-top:34px;"></div>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Department</th>
                <th>Course Name</th>
                <th>Course Section</th>
                <th>Classroom</th>
                <th>Meeting Days</th>
                <th>Start Time</th>
                <th>End Time</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Cell 1</td>
                <td>Cell 2</td>
                <td>Cell 3</td>
                <td>Cell 4</td>
                <td>Cell 5</td>
                <td>Cell 6</td>
                <td>Cell 7</td>
            </tr>
            <tr>
                <td>Cell 3</td>
                <td>Cell 4</td>
                <td>Cell 3</td>
                <td>Cell 4</td>
                <td>Cell 5</td>
                <td>Cell 6</td>
                <td>Cell 7</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>

</html>